.shirt-table{
    grid-template-columns: 200px 200px 200px;
text-align: center;
}

table, th, td {
    width: 100%;
    border: 1px solid gray;
    border-spacing: 0px;
  }
  
img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}

.Buying-button{
    background-color: #45b3e0;
    border: none;
    width: 100px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.Buying-button:hover {
    background-color: #71c5e7;
    color: black;
    cursor:pointer;
  }

form{
    margin: 0px auto;
    margin-top: 30px;
    width: 100%;
    padding: 24px;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }

  .comfirm-div{
      display: flex;
      text-align: center;  
      justify-content:space-between;
      top:25%;
      margin-left: 60px;
      margin-right: 60px;
      margin-top: 10px;
  }

  .center-div{
   
  }

  .center{
   
  }

  .center-div > button {
      margin-top: 20px;
      height: 40px;
      width: 100px;
      background-color: #45b3e0;
      border: none;
  }

  .center-div > button:hover {
    background-color: #71c5e7;
    color: black;
    cursor:pointer;
  }

  .close-btn{
    margin-top: 10px;
    height: 20px;
    width: 50px;
    background-color: #F31431;
    color: white;
    border: none;
  }

  .close-btn:hover{
    cursor:pointer;
    background-color: #A52A2A;
  }

  select{
      width: 40px;
  }